$background: #f7f7f7;
$primary: #FF781B;
$secondary: #9a9a9a;
$card-border-color: #f7f7f7;
$card-border-radius: 0 !default;
$navbar-nav-link-padding-x: 1.5rem !default;
$card-background-color: red;
$card-bg: $background;
